/* global style */
body {
    background-color: #141A1E;
}

/* home style */
.home-container {    
    width: 100vw;
    height: 100vh;    
    display: flex;
    flex-direction: column;    
    align-items: center;
}

.home-container h1, .home-container .home-body h3 {
    color: white;
    flex: 1 5 80vw;
    text-shadow: #fff 0px 0px 20px, #000 0px 10px 10px;
}

.home-container .home-body {
    width: 40vw;
    height: 40vw;
    display: flex;
    flex-direction: column;
    background-color: #222C33;
    animation: pulse 2s infinite;
}

.home-container .home-body .profile {
    display: flex;
}

.home-container .home-body .profile h3 {
    font-size: 1.5em;
    padding: 4vh 0 0 1vw;
}

.home-container .home-body .profile img {
    width: 10vw;
    height: 10vw;
    padding: 2vh 2vw 0 0;
}

.home-container .home-body .description {
    color: white;
    padding: 0 0 0 1vw;
}

@keyframes pulse {
    0% { 
        opacity: 0.5;
    }
    50% { 
        opacity: 1.0;
    }
    100% { 
        opacity: 0.5;
    }
}